<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/vue.js"></script>
        <title>Projet Cordova + Pokeapi</title>
    </head>
    <body>
        <script src="cordova.js"></script>
        <div class="app" id="app">
            <h1 class="title">{{ title }}</h1>
            <div id="deviceready">
                <div class="container">
                    <div class="pokemons blink">
                        <div class="flex-container" @click="handlePokemonSelection(index)" v-for="(pokemon, index) in pokemons" :key="index">
                            <div id="nb" class="flex-item">
                                {{ index+1 }}
                            </div>
                            <div id="image" class="flex-item">
                                <img :src="pokemon.sprite">
                            </div>
                            <div id="name" class="flex-item">
                                {{ pokemon.name }}
                            </div>
                        </div>
                    </div>
                    <div class="pokemonDetailsContainer">
                        <div v-if="selectedPokemon" class="pokemonDetails">
                            <h3>
                                {{ pokemon.name }}
                            </h3>
                            <img class="pokemonImage" :src="pokemon.sprite" />
                            <button @click="playAudio(1)">{{ firstAttack }}</button>
                            <p>
                                HP : {{ pokemon.hp }}
                            </p>
                            <p>
                                Attack : {{ pokemon.attack }}
                            </p>
                            <p>
                                Defense : {{ pokemon.defense }}
                            </p>
                            <p>
                                Special attack : {{ pokemon.specialAttack }}
                            </p>
                            <p>
                                Special defense : {{ pokemon.specialDefense }}
                            </p>
                            <p>
                                Speed : {{ pokemon.speed }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/index.js"></script>
    </body>
</html>
